
body {
    background-color: #1d1d1d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100hv;
    margin: 2;
}

#terminal{
    
background-color: #1a1f27; 
color: #3eecec; 
width: 950px; 
height: 700px;
border-radius: 0; 
box-shadow: 0 0 10px rgba(0, 255, 255, 0.5), inset 0 0 5px rgba(0, 255, 255, 0.2); 
padding: 20px; 
font-family: 'Droid Sans Mono', 'Roboto Mono', monospace; 
display: flex;
flex-direction: column;
overflow: hidden; 
border: 2px solid #43a3a3; 
border-radius: 4px;
overflow-y:scroll;
scrollbar-width: thin;
scrollbar-color: rgba(0, 0, 255, 0) transparent;



}

#inputline{
    display: flex;
    gap: 8px;

}

#cmdinput{
    background: transparent;
    border: none;
    color: white;
    outline: none;
    flex: 1;
}

.teste{
    color: #ffffffe3;
    opacity: 10px;
}